{% extends 'base.html' %}
{% block title %}
Settings Page
{% endblock %}
{% block content %}


<!--header-->
<h1 align="center">Settings Page</h1>


<div align="center" style="grid-template-columns: 1fr;display: grid;vertical-align:middle">


    <div style="padding:10px;margin:10px;vertical-align:middle;background-color: #414141;min-width: 0;">

        <form method="post" action="/update_configuration">

            <label for="k">K</label><br>
            <input type="number" name="k" value="{{ config.k }}"><br><br>

            <label for="final_width">Final Width</label><br>
            <input type="number" name="final_width" value="{{ config.final_width }}"><br><br>

            <label for="mixing_ratio">Mixing Ratio</label><br>
            <input type="number" step="0.01" name="mixing_ratio" value="{{ config.mixing_ratio }}"><br><br>

            <label for="tile_size">Tile Width</label><br>
<!--            <input type="number" name="tile_size" value="{{ config.tile_size }}"><br><br>-->

            <select id="tile_size" name="tile_size">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>


            <br/><br><br>


            <input type="submit" value="Save Changes">
        </form>
    </div>
</div>

<script>
    const selectedSize = "{{ config.tile_size }}";
    const tileSizeDropdown = document.getElementById("tile_size");
    tileSizeDropdown.value = selectedSize;
  </script>

{% endblock %}

