{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}
{% block content %}

<!--header-->
<h1 align="center">Home Page</h1>

<div align="center" style="grid-template-columns: 1fr 1fr 1fr;display: grid;vertical-align:middle">


    <div style="padding:10px;margin:10px;vertical-align:middle;background-color: #414141;min-width: 0;">
            <div style="position: relative;top:50%;left:50%;-webkit-transform: translate(-50%, -50%);">
        <form action="/" method="post" enctype="multipart/form-data">
  <label for="files">Select files:</label>
  <input type="file" id="files" name="files[]" multiple>
  <button type="submit">Upload</button>
</form>
            </div>
</div>


    {% for path in main_photos%}
        <div style="padding:10px;margin:10px;vertical-align:middle;background-color: #414141;">
            <div style="position: relative;top:50%;left:50%;-webkit-transform: translate(-50%, -50%);">
        <a href={{url_for('grid_page',n=path[1]-1)}} target="_blank" style="opacity: 100%;padding:10px;vertical-align:middle">

            <img src={{path[0]}} style="width:90%;opacity: 100%;">

        </a>
            </div>
</div>
    {% endfor %}


<br/>
</div>
{% endblock %}